.navbartabs {
    position: sticky;
    top: 0;
    z-index: 100;
    margin-top: 10px;
    border-radius: 5px;
    background-color: dimgray;
    font-size: 20pt;
}
a.nav-link{
color: rgb(12, 12, 12);
--bs-nav-link-hover-color: #0f740c;

}
.nav-link:focus{
    color: #0f740c;
}