.col-md-4 {
    margin:".5rem 0rem";
    width: 20%;
}

.titulo {
    margin-top: 20px;
    margin-bottom: 15px;
}

.StyleCards {
   
}

.carddetalle{
    margin-top: 50px;
  border-color: black;
  border: solid;
}
/* .contenedor{
  
   display: grid;
   place-items: center;
} */
.imagen{
    width: 400px;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 30px;
}
