.header {
    position: relative;
    border-radius: 5px;
}
.imagenH {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.logoH {
position: absolute;
  top: 50%;
  left: 15%; /* Espacio a la izquierda */
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 25%; /* Tamaño del círculo */
}