.footer-dark {
    color:#f0f9ff;
    background-color:#282d32;
    max-height: 140px;
  }
  
  .footer-dark h3 {
    margin-top: 10px;
    margin-bottom:5px;
    font-size:12pt;
  }
  .footer-dark a {
    color: #f0f9ff;
    text-decoration: none;
    font-size: 10pt;
  }

  .logoF {
    margin-left: 70px;
  }